{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Convert Ebook to Audio</title>
</head>
<body>
    <div class="container">
        <legend class="title">Ebook to Audio</legend>
        <p id="error-message">{{ message }}</p>
        <form action="" id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="filename" id="filename" placeholder="Enter Path to file" required>
        </form>
        <!-- <button data-action="play" class="run">Play</button> -->
        <button data-action="save" class="run">Download Audio</button>
    </div>

    <footer>
        &copy;2022 codewitgabi
    </footer>

    <script>
		function getCookie(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');
	</script>

    <script>
        const save_audio_url = "{% url 'save_audio_url' %}";
    </script>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>